html,
body {
   overflow-x: hidden;
}

* {
   border: 0;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

:root {
   --primary: #2B3A67;
   --secondary: #E84855;
   --third: #7ADFBB;
   --vindme: #9AAEF2;
}

.highlight {
   background-color: rgb(255, 239, 58);
   font-family: 'Montserrat', sans-serif;
   font-weight: 600;
  color: #141313;
 }

/**------------------------------------------------- NAV BAR -----------------------------------------------------**/

.navbar-nav .nav-item .nav-link {
   border-radius: 15px 15px 15px 15px;
   /*transition: background-color 0.3s ease;*/
   width: 160px;
   text-align: center;
   line-height: 20px;
   padding: 5px 5px 5px 5px;
   font-family: "Montserrat", sans-serif;
   font-size: 1.4rem;
   color: #2B3A67;
}

.navbar-nav .nav-item:hover .nav-link {
   background-color: #7ADFBB;
   color: #ffffff;
}

.nav-item.dropdown:hover .nav-link::after {
   transform: rotate(180deg);
}

/* Add this CSS for spacing to the left of the navbar brand */
.navbar-brand {
   margin-left: 20px;
   margin-bottom: 10px;
}

/* Add this CSS for dropdown menu */
.navbar-nav .nav-item.dropdown:hover .dropdown-menu {
   display: block;
}

.dropdown-menu .dropdown-item {
   font-family: "Montserrat", sans-serif;
   font-size: 1.4rem;
   padding: 10px;
   text-decoration: none;
   color: #333;
   transition: background-color 0.3s;
}

.navbar-nav>li>.dropdown-menu a:hover {
   background-color: #7ADFBB;
   color: #ffffff;
}

.navbar>.navbar-nav>li>.navbar-right {
   margin-left: 50px;
}

.nav-background {
   background-color: #ffffff;
}

@media (min-width: 1200px) and (max-width: 1900px) {
   .navbar-brand {
      width: "190px";
      height: "50px";
   }
}

@media (min-width: 370px) and (max-width: 1200px) {
   .navbar-brand {
      width: "130px";
      height: "50px";
   }
}

@media (max-width: 950px) {
   .navbar-collapse .nav-item .nav-link {
      justify-content: flex-end;
      width: 150px;
      margin-left: 30px;
      text-align: left;
   }

   .navbar-collapse>.nav-item>li>.dropdown-item {
      justify-content: flex-end;
      font-size: 1.4rem;
      width: 150px;
      margin-left: 20px;
      text-align: left;
   }
}

/**------------------------------------------------- FIRST SECTION -----------------------------------------------------**/

.main-section {
   position: relative;
   height: 100vh;
   width: 100%;
   overflow: hidden;
}

.background-image {
   position: absolute;
   width: 100%;
   height: 100%;
   object-fit: cover;
   z-index: -1;
}

.center-content {
   position: absolute;
   top: 50%;
   left: 50%;
   /* Adjusted to be a bit left of center */
   transform: translate(-50%, -50%);
   text-align: left;
   /* Align content to the left */
   color: white;
   z-index: 1;
   max-width: 40%;
   height: auto;
   /* Limiting content width */
}

.center-content h1 {
   font-family: "Montserrat", sans-serif;
   max-width: 18em;
   font-size: 8vh;
   font-weight: 600;
   line-height: .9;
   margin-bottom: 0.5em;
   text-align: left;
   color: #ffffff;
}

.center-content .description {
   font-family: "Montserrat", sans-serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
   font-size: 2.7rem;
   color: #ffffff;
   text-align: justify;
}

.read {
   font-family: "Montserrat", sans-serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
   font-size: 1.9rem;
   color: #4affff;
   text-align: justify;
   text-decoration: underline;
}

@media (min-width: 1020px) and (max-width: 1700px) {
   .center-content {
      max-width: 70% !important;
      top: 50%;
      left: 50%;
      /* Adjusted to be a bit left of center */
      transform: translate(-50%, -50%);
   }

   .center-content .description {
      font-family: "Montserrat", sans-serif;
      font-size: 2rem;
   }

   .read {
      font-size: 1.6rem;
   }
}

@media (min-width: 367px) and (max-width: 1020px) {
   .center-content {
      max-width: 85%;
      max-height: 90%;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -40%);
   }

   .center-content .description {
      font-family: "Montserrat", sans-serif;
      font-size: 1.3rem;
   }

   .read {
      font-size: 1.2rem;
   }
}

/**------------------------------------------------- ANOTHER SECTION  -----------------------------------------------------**/

.head-title {
   font-family: 'Montserrat', sans-serif; 
   font-weight: 600; 
   color: var(--secondary); 
   text-align: right;
}
.mision-text {
   font-family: "Montserrat", sans-serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
   font-size: 1.4rem;
   color: #2b2b2b;
   text-align: justify;
}

.wwa-text {
   font-family: "Montserrat", sans-serif;
   font-optical-sizing: auto;
   font-weight: 500;
   font-style: normal;
   font-size: 1.6rem;
   color: #2b2b2b;
   text-align: justify;
}

.marked-word {
   color: var(--secondary);
}

/**------------------------------------------------- SCROLLING SECTION  -----------------------------------------------------**/


.scrolling {
   background: url(../Assets/cdmx.png) no-repeat fixed 100%;
   background-size: cover;
}

.background-scrolling {
   padding-top: 7%;
   padding-bottom: 7%;
}

.title-banner {
   font-family: "Montserrat", sans-serif;
   font-optical-sizing: auto;
   font-weight: 600;
   font-style: normal;
   font-size: 2.5rem;
   color: var(--third);
   text-align: center;
}

.text-banner {
   font-family: "Montserrat", sans-serif;
   font-optical-sizing: auto;
   font-weight: 500;
   font-style: normal;
   font-size: 1.6rem;
   color: #ffffff;
   text-align: center;
   padding-top: 0.5em;
}

/**------------------------------------------------- LAST SECTION -----------------------------------------------------**/

.parent-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   height: 60vh;
}

.custom-container {
   margin: 50px;
   width: 90vh;
   height: 80%;
   border-radius: 3%;
   background-color: #2B3A67;
   transition: all 0.5s;
}

.card-cont {
   width: 100%; 
   height: 100%; 
   padding: 3%;
 }

 .last-img {
   width: auto;
   height: 100%;
   border-radius: 3%;
 }

 .last-h1 {
   font-family: "Montserrat", sans-serif;
   font-weight: 600;
   font-size: 2.3rem;
   color: #7ADFBB;
   text-align: left;
 }

 .last-text {
   font-family: "Montserrat", sans-serif;
   font-weight: 400;
   font-size: 1.4rem;
   color: #ffffff;
   text-align: justify;
 }
 
 .custom-container:hover {
   box-shadow: -10px 0 20px rgba(0, 0, 0, 0.6);
   transform: translateX(-3%) scale(1.05);
   
 }

 @media (max-width: 768px){

   .parent-container {
      height: 100%;
   }

   .custom-container {
      width: calc(95vw - 40px); 
      max-height: 650px; 
      padding-left: 25px;
      margin: 10px;
   }

   .card-cont {
      padding-left: 10px; 
   }

   .last-img {
      width: 100%; 
      max-height: 270px;
      height: 100%; 
   }

   .last-h1 {
      font-size: 1.5rem; 
   }

   .last-text {
      font-size: 1.1rem; 
   }
}

/**------------------------------------------------- VALUES SECTION -----------------------------------------------------**/
.icon-square {
   width: 3rem;
   height: 3rem;
   border-radius: 0.75rem;
 }

 .feat-title {
   margin-bottom: 30px;
   font-family: "Montserrat", sans-serif;
   font-size: 2.7rem;
   font-weight: 600;
   font-style: normal;
   color: var(--secondary) !important;
 }

 .feat-content {
   margin-top: 5px;
   font-family: "Montserrat", sans-serif;
   font-weight: 500;
   font-size: 1.5rem;
   text-align: justify;
   color: var(--primary);
 }
 
/**------------------------------------------------- FOOTER SECTION -----------------------------------------------------**/

.footer-bg {
   background-color: #ecf3fa;
 }

 #footer-section p {
   font-family: "Montserrat", sans-serif;
   /* Use Montserrat font family */
   font-size: 1.3rem;
 }

 #footer-section a {
   font-family: "Montserrat", sans-serif;
   font-size: 1.3rem;
 }

 .social-link:hover {
   background-color: #d3d1d1;
   border-radius: 15%;
 }

 .foot-btn:hover {
  color: var(--primary) !important;
  text-decoration: underline;
}