       /*  ------------------- GENERAL --------------------*/

       body {
         margin: 0;
         padding: 0;
       }

       :root {
         --primary: #c448f9;
         --secondary: #3af8b6;
         --light: #abcdff;
         --dark: #262B47;
       }

       .btn {
         transition: .5s;
       }

       .btn.btn-primary-gradient,
       .btn.btn-secondary-gradient {
         position: relative;
         overflow: hidden;
         border: none;
         color: #FFFFFF;
         z-index: 1;
       }

       .btn.btn-primary-gradient::after,
       .btn.btn-secondary-gradient::after {
         position: absolute;
         content: "";
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         transition: .5s;
         z-index: -1;
         opacity: 0;
       }

       .btn.btn-primary-gradient,
       .btn.btn-secondary-gradient::after {
         background: linear-gradient(to bottom right, var(--primary), var(--secondary));
       }

       .btn.btn-secondary-gradient,
       .btn.btn-primary-gradient::after {
         background: linear-gradient(to bottom right, var(--secondary), var(--primary));
       }

       .btn.btn-primary-gradient:hover::after,
       .btn.btn-secondary-gradient:hover::after {
         opacity: 1;
       }

       /**------------------------------------------------- SECTIONS IN GENERAL -----------------------------------------------------**/

       .section-background {
         background-color: hsl(176, 94%, 93%);
       }

       .footer-bg {
         background-color: hsl(220, 77%, 92%);
       }

       /**------------------------------------------------- NAV BAR -----------------------------------------------------**/

       /* Add this CSS for button hover effect */
       .navbar-nav .nav-item .nav-link {
         border-radius: 15px 15px 15px 15px;
         /* Different corner radius for the bottom of the button */
         transition: background-color 0.3s ease;
         /* Add transition for smoother hover effect */
         width: 130px;
         /* Adjust the width of the buttons */
         text-align: center;
         /* Center text in the button */
         line-height: 20px;
         /* Set line height to the desired button height */
         padding: 5px;
         /* Adjust padding to ensure corners fit within the button width */
       }

       .navbar-nav .nav-item:hover .nav-link {
         background-color: #d59cf8;
       }

       /* Add this CSS for spacing to the left of the navbar brand */
       .navbar-brand {
         margin-left: 20px;
         /* Adjust the spacing to the left of the navbar brand */
       }

       /* Add this CSS for dropdown menu */
       .navbar-nav .nav-item.dropdown:hover .dropdown-menu {
         display: block;
       }

       /**----------------------------------------------------------   SECTION MAIN --------------------------------------------------**/
       .gradient-background {
         background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
         background-size: 180% 180%;
         animation: gradient-animation 18s ease infinite;
       }

       @keyframes gradient-animation {
         0% {
           background-position: 0% 50%;
         }

         50% {
           background-position: 100% 50%;
         }

         100% {
           background-position: 0% 50%;
         }
       }

       .lead {
         color: #262B47;
       }

       /**------------------------------------------------- SCREENSHOT -----------------------------------------------------**/
       .screenshot-carousel {
         position: relative;
         max-width: 280px;
         height: 570px;
         padding: 15px 0px 0px 10px;
       }

       .screenshot-carousel::before {
         position: absolute;
         content: "";
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;
         background: url(../Assets/screenshot-frame.png) center center no-repeat;
         background-size: 280px 570px;
         z-index: 1;
       }

       .screenshot-carousel .owl-item img {
         border-radius: 5%;
         position: relative;
         max-width: 265px;
         height: 545px;
         max-height: 550px;
       }

       .screenshot-carousel .owl-dots {
         position: absolute;
         top: 50%;
         right: -20px;
         transform: translateY(-50%);
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
       }

       .screenshot-carousel .owl-dot {
         position: relative;
         display: inline-block;
         margin: 5px 0;
         width: 15px;
         height: 15px;
         background: linear-gradient(to bottom right, var(--primary), var(--secondary));
         border-radius: 15px;
         transition: .5s;
       }

       .screenshot-carousel .owl-dot::after {
         position: absolute;
         content: "";
         width: 5px;
         height: 5px;
         top: 5px;
         left: 5px;
         background: #FFFFFF;
         border-radius: 5px;
       }

       .screenshot-carousel .owl-dot.active {
         box-shadow: 0 0 10px var(--dark);
       }

       /** ----------------------------- MOVING DIV ----------------------------**/

       .moving-container {
        position: relative;
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      

       .left-div-cont,
       .right-div-cont {
         height: 100%;
         width: 60%;
         padding-top: 120px;
         padding-bottom: 10px;
         border-radius: 3%;
         position: absolute;
       }

       .third-container {
        margin: 2.5%;
        position: absolute;
        border-radius: 30px 20px 30px 20px;
       }

       .left-div-cont {
        background-color: rgb(162, 250, 222);
        width: 50%;
        left: 10%;
        transform: translateX(-110%);
        z-index: 2;
        opacity: 0;
        transition: opacity 2s ease, transform 5s ease;
      }
      
      .right-div-cont {
        background-color: rgba(183, 147, 247, 0.733);
        right: 10%;
        width: 60%;
        z-index: 1;
        opacity: 0;
        transform: translateX(110%);
        transition: opacity 2s ease, transform 5s ease;
      }
      
      .third-container {
        background-color: rgba(254, 208, 208, 0.7);
        left: 50%;
        transform: translate(-50%, 50%) scale(0);
        width: 70%;
        height: 90%;
        z-index: 3;
        position: absolute;
        opacity: 0;
        transition: opacity 2s ease, transform 5s ease;
      }
      
      .third-container {
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      @media (min-width: 769px) and (max-width: 1024px) {
        .moving-container {
          height: 110vh;
        }
      }

      @media (max-width: 768px) {
        .moving-container {
          height: 120vh;
        }
      }

      @media (max-width: 564px) {
        .moving-container {
          height: 150vh;
        }
      }

       /* ---------------------------  SCREEN SHOT ----------------------------------------------*/


       /* ---------------------------  PRICING  ----------------------------------------------*/

       .card-header {
         background-color: #007bff;
         color: #fff;
         text-align: center;
         padding: 10px;
       }

       .pricing-card-title {
         font-size: 24px;
       }

       .list-unstyled li {
         margin-bottom: 10px;
         position: relative;
       }

       .list-unstyled li::before {
         content: '\2713';
         /* Unicode check mark character */
         color: green;
         font-size: 16px;
         position: absolute;
         left: 20px;
         top: 50%;
         transform: translateY(-50%);
       }

       .ph-card-header {
         color: white !important;
         background-color: rgb(160, 160, 251) !important;
       }

       /* ---------------------------  PRICING  ----------------------------------------------*/

       .footer {
        margin: 0px;
        padding: 0px;
       }