       /*  ------------------- GENERAL --------------------*/

       body {
         margin: 0px;
         padding: 0px;
         background-color: #ffffff;
         overflow-x: hidden
       }

       p {
         margin: 0px;
         padding: 0px;
       }

       :root {
         --primary: #7ADFBB;
         --secondary: #9AAEF2;
         --third: #2B3A67;
         --light: #b8d5ff;
         --dark: #2d3253;
       }

       .btn {
         transition: .5s;
       }

       .btn.btn-primary-gradient,
       .btn.btn-secondary-gradient {
         position: relative;
         overflow: hidden;
         border: none;
         color: #FFFFFF;
         z-index: 1;
         padding: 5px;
       }

       .btn.btn-primary-gradient::after,
       .btn.btn-secondary-gradient::after {
         position: absolute;
         content: "";
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         transition: .5s;
         z-index: -1;
         opacity: 0;
       }

       .btn.btn-primary-gradient,
       .btn.btn-secondary-gradient::after {
         background: linear-gradient(to bottom right, var(--primary), var(--secondary));
       }

       .btn.btn-secondary-gradient,
       .btn.btn-primary-gradient::after {
         background: linear-gradient(to bottom right, var(--secondary), var(--primary));
       }

       .btn.btn-primary-gradient:hover::after,
       .btn.btn-secondary-gradient:hover::after {
         opacity: 1;
       }

       /**--------------------------------------------------- FOR MOBILE---------------------------------------------------------- **/

       .mobileShow {
         display: none;
       }

       /* Smartphone Portrait and Landscape */


       @media only screen and (max-width: 600px) {

         html,
         body {
           overflow-x: hidden
         }
       }

       /**------------------------------------------------- FONTS IN GENERAL -----------------------------------------------------**/

       /* ---------- HEADERS -------------*/

       .first-header {
         font-family: "Montserrat", sans-serif;
         font-optical-sizing: auto;
         font-weight: 500;
         font-style: normal;
         color: #191d5a;
       }

       .second-header {
         font-family: "Montserrat", sans-serif;
         font-optical-sizing: auto;
         font-weight: 500;
         font-style: normal;
       }

       /* ---------- PARAGRAPHS -------------*/
       .main-font {
         font-family: "Montserrat", sans-serif;
         font-optical-sizing: auto;
         font-weight: 500;
         font-style: normal;
         font-size: 1.4rem;
         color: #4e4e4e;
         text-align: justify;
       }

       .main-typo {
         font-family: "Montserrat", sans-serif;
         font-optical-sizing: auto;
         font-weight: 500;
         font-style: normal;
         color: #333;
       }

       .slogan {
         font-family: "Montserrat", sans-serif;
         font-optical-sizing: auto;
         font-weight: 500;
         font-size: 1.1rem;
         color: #4e4e4e;
       }

       .lead {
         text-align: justify;
         color: #ffffff;
       }

       .h1-white {
         font-family: "Montserrat", sans-serif;
         font-optical-sizing: auto;
         font-weight: 500;
         font-style: normal;
         color: #ffffff;
       }

       .general-font {
         text-align: justify;
         font-family: "Montserrat", sans-serif;
         font-optical-sizing: auto;
         font-weight: 500;
         font-size: 1.4rem;
         color: #ffffff !important;
       }

       /**------------------------------------------------- BODY HTML -----------------------------------------------------**/

       /**------------------------------------------------- NAV BAR -----------------------------------------------------**/

       .navbar-nav .nav-item .nav-link {
         border-radius: 15px 15px 15px 15px;
         /*transition: background-color 0.3s ease;*/
         width: 160px;
         text-align: center;
         line-height: 20px;
         padding: 5px 0px 5px 0px;
         font-family: "Montserrat", sans-serif;
         font-size: 1.4rem;
         color: #2B3A67;
       }

       .navbar-nav .nav-item:hover .nav-link {
         background-color: #7ADFBB;
       }

       .nav-item.dropdown:hover .nav-link::after {
         transform: rotate(180deg);
       }

       /* Add this CSS for spacing to the left of the navbar brand */
       .navbar-brand {
         margin-left: 20px;
         margin-bottom: 10px;
       }

       /* Add this CSS for dropdown menu */
       .navbar-nav .nav-item.dropdown:hover .dropdown-menu {
         display: block;
       }

       .dropdown-menu .dropdown-item {
         font-family: "Montserrat", sans-serif;
         font-size: 1.4rem;
         padding: 10px;
         text-decoration: none;
         color: #333;
         transition: background-color 0.3s;
       }

       .navbar-nav>li>.dropdown-menu a:hover {
         background-color: #7ADFBB;
         color: #fff;
       }

       .navbar>.navbar-nav>li>.navbar-right {
         margin-left: 50px;
       }

       .nav-background {
         background-color: #ffffff;
       }

       @media (min-width: 1200px) and (max-width: 1000px) {
        .navbar-brand {
         width: "190px";
         height: "50px";
        }
      }

       @media (min-width: 770px) and (max-width: 1200px) {
         .navbar-brand {
          width: "130px";
          height: "50px";
         }
       }

       @media (max-width: 950px) {
        .navbar-collapse .nav-item .nav-link {
           justify-content: flex-end;
           width: 150px;
           margin-left: 30px;
           text-align: left;
        }
        
        .navbar-collapse > .nav-item > li > .dropdown-item {
           justify-content: flex-end;
           font-size: 1.4rem;
           width: 150px;
           margin-left: 20px;
           text-align: left;
        }
     }

       /**----------------------------------------------------------   SECTION MAIN --------------------------------------------------**/
       .gradient-background {
         background: linear-gradient(300deg, #7ADFBB, #9AAEF2, #d5dffe);
         background-size: 180% 180%;
         animation: gradient-animation 18s ease infinite;
       }

       @keyframes gradient-animation {
         0% {
           background-position: 0% 50%;
         }

         50% {
           background-position: 100% 50%;
         }

         100% {
           background-position: 0% 50%;
         }
       }

       .lead {
         color: #262B47;
       }


       #title {
         position: relative;
         background-color: #e4e3e3;
       }

       #title::before,
       #title::after {
         content: '';
         position: absolute;
         width: 140px;
         height: 140px;
         background: #7ADFBB;
       }

       #title::before {
         bottom: 0;
         left: 0;
         border-radius: 0 140px 0 0;
         -moz-border-radius: 0 140px 0 0;
         -webkit-border-radius: 0 140px 0 0;
       }

       #title::after {
         bottom: 0;
         right: 0;
         border-radius: 140px 0 0 0;
         -moz-border-radius: 140px 0 0 0;
         -webkit-border-radius: 140px 0 0 0;
       }

       /**------------------------------------------------- SCREENSHOT -----------------------------------------------------**/
       .screenshot-carousel {
         position: relative;
         max-width: 414px;
         height: 866px;
         padding: 20px 10px 5px 10px;
       }

       .screenshot-carousel::before {
         position: absolute;
         content: "";
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;
         background: url(../Assets/screenshot-frame.png) center center no-repeat;
         background-size: 414px 866px;
         z-index: 1;
       }

       .screenshot-carousel .owl-item img {
         border-radius: 7%;
         position: relative;
         max-width: 400px;
         height: 835px;
         max-height: 850px;
       }

       .owl-carousel .owl-loaded .owl-drag {
         border-radius: 10%;
       }

       .screenshot-carousel .owl-dots {
         position: absolute;
         top: 50%;
         right: -20px;
         transform: translateY(-50%);
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
       }

       .screenshot-carousel .owl-dot {
         position: relative;
         display: inline-block;
         margin: 5px 0;
         width: 15px;
         height: 15px;
         background: linear-gradient(to bottom right, var(--primary), var(--secondary));
         border-radius: 15px;
         transition: .5s;
       }

       .screenshot-carousel .owl-dot::after {
         position: absolute;
         content: "";
         width: 5px;
         height: 5px;
         top: 5px;
         left: 5px;
         background: #FFFFFF;
         border-radius: 5px;
       }

       .screenshot-carousel .owl-dot.active {
         box-shadow: 0 0 10px var(--dark);
       }

       /**------------------------------------------------- FOR LAPTOPS  -----------------------------------------------------**/
       @media (min-width: 1090px) and (max-width: 2340px) {
         .screenshot-carousel {
           max-width: 330px;
           height: 684px;
           padding: 20px 10px 5px 10px;
         }

         .screenshot-carousel::before {
           width: 100%;
           height: 100%;
           background-size: 330px 684px;
           z-index: 1;
         }

         .screenshot-carousel .owl-item img {
           border-radius: 7%;
           max-width: 320px;
           height: 660px;
           max-height: 665px;
         }

         .owl-carousel .owl-loaded .owl-drag {
           border-radius: 10%;
         }
       }

       /**------------------------------------------------- FOR TABLETS  -----------------------------------------------------**/
       @media (min-width: 568px) and (max-width: 1090px) {
         .screenshot-carousel {
           max-width: 290px;
           height: 580px;
           padding: 10px 5px 5px 5px;
         }

         .screenshot-carousel::before {
           width: 100%;
           height: 100%;
           background-size: 290px 580px;
           z-index: 1;
         }

         .screenshot-carousel .owl-item img {
           border-radius: 7%;
           max-width: 280px;
           height: 555px;
           max-height: 565px;
         }

         .owl-carousel .owl-loaded .owl-drag {
           border-radius: 10%;
         }
       }

       /**------------------------------------------------- FOR MOBILE  -----------------------------------------------------**/
       @media (min-width: 320px) and (max-width: 568px) {
         .screenshot-carousel {
           max-width: 280px;
           height: 480px;
           padding: 15px 5px 0px 10px;
         }

         .screenshot-carousel::before {
           width: 100%;
           height: 100%;
           background-size: 280px 480px;
           z-index: 1;
         }

         .screenshot-carousel .owl-item img {
           border-radius: 7%;
           max-width: 270px;
           height: 455px;
           max-height: 465px;
         }

         .owl-carousel .owl-loaded .owl-drag {
           border-radius: 7%;
         }
       }


       /** ----------------------------------------------------------- END OF CAROUSEL -------------------------------------------------------------------------**/

       /** ----------------------------------------------------------- STATS -------------------------------------------------------------------------**/
       #stats {
         background-color: #ffffff;
       }

       #hanging-icons {
         text-align: center;
       }

       footer {
         display: flex;
         justify-content: center;
         align-items: center;
       }

       .content {
         margin: 0 20;
         padding: 20px;
         /* Added padding */
         line-height: 1.5;
         /* Increased line height */
       }

       .divider {
         border-left: 0.5px solid #7c7b7b;
         height: 100px;
         /* Adjust this value to control the height of the divider */
         margin: 0 10px;
       }

       .content h2 {
         margin-bottom: 30px;
         /* Add margin between h2 and p */
         font-family: "Montserrat", sans-serif;
         font-weight: 500;
         font-style: normal;
         color: var(--third);
       }

       .content p {
         margin-top: 10px;
         /* Add margin between h2 and p */
         font-family: "Montserrat", sans-serif;
         font-weight: 300;
         font-style: normal;
         font-size: 1.2rem;
         color: #4e4e4e;
       }

       .icon-square {
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 0.75rem;
      }

      .feat-title {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 2.3em;
        color: #E84855;  
        text-align: left;
      }
      
      .feat-content {
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.5em;
        color: var(--third);
        text-align: justify;
      }
      
       /** ----------------------------------------------------------- MOVING DIV --------------------------------------------------------------------------------**/

       /* ---------------------------------------------------------  END OF MOVING DIV ---------------------------------------------------------------------------*/

       /* ------------------------------------------------------------  FEATURES --------------------------------------------------------------*/
       .featurette-divider {
         margin: 5rem 0;
       }

       /* -------------------------------------------------------------  ABOUT SECTION  ---------------------------------------------------------------------*/
       #about-section {
        
        background-color: hsl(219, 35%, 58%);
         /*clip-path: polygon(0 0, 100% 0, 100% calc(100% - 5vw), 0 100%);*/
       }

       .young-people-img {
         /*clip-path: polygon(0% 0%, 100% 10%, 100% 90%, 0% 100%)*/
         border-radius: 5%;
       }

       .green-line {
         background-color: #7ADFBB;
         width: 200px;
         height: 10px;
         margin-left: 5px;
         margin-bottom: 20px;
       }

       .read-more {
         position: relative;
         z-index: 1;
         overflow: hidden;
         border-width: 1px;
         color: #ffffff !important;
         background-color: var(--primary) !important;
       }

       .read-more::before {
         content: '';
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         background-color: var(--third);
         opacity: 0.5;
         clip-path: circle(0% at 50% 50%);
         -webkit-clip-path: circle(0% at 50% 50%);
         transition: all 0.8s ease-in-out;
         z-index: -1;
       }

       .read-more:hover::before {
         clip-path: circle(150% at 50% 50%);
         -webkit-clip-path: circle(150% at 50% 50%);
         opacity: 0.9;
       }

       .read-more:hover {
         border-color: var(--third);
         color: #ffffff;
       }

       @media (min-width: 370px) and (max-width: 570px) {
        .green-line {
          margin-left: 0px;
          width: 135px;
        }

        .young-people-img {
         width: 330px;
         height: 270px;
        }

      
      }

       /*@media (min-width: 1920px) and (max-width: 2700px) {
        #about-section {
          height: 75vh;
        }
       }

       @media (min-width: 990px) and (max-width: 1920px) {
         .green-line {
           margin-left: 0px;
           width: 205px;
         }

         .young-people-img {
          width: 500px;
          height: 300px;
         }

         #about-section {
           height: 60vh;
         }
       }

       @media (min-width: 570px) and (max-width: 990px) {
        .green-line {
          margin-left: 0px;
          width: 175px;
        }

        .young-people-img {
          width: 500px;
          height: 370px;
         }

        #about-section {
          height: 100vh;
        }
      }
      

       @media (min-width: 370px) and (max-width: 570px) {
         .green-line {
           margin-left: 0px;
           width: 135px;
         }

         .young-people-img {
          width: 370px;
          height: 270px;
         }

         #about-section {
           height: 125vh;
         }
       }*/



       /* -----------------------------------------------------------  PRICING  ---------------------------------------------------------------------*/

       .wrapper {
         position: relative;
         background-color: #d3d4f5;
       }

       .pricing-card-title {
         color: var(--third);
       }

       .sign-up {
         border-color: var(--secondary) !important;
         color: #4e4e4e !important;
       }

       .sign-up:hover {
         background-color: var(--secondary) !important;
         color: #ffffff !important;
       }

       .sign-up-btn {
         position: relative;
         z-index: 1;
         overflow: hidden;
         border-color: var(--secondary);
         border-width: 1px;
         color: #ffffff;
         background-color: var(--secondary);
       }

       .sign-up-btn::before {
         content: '';
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         background-color: var(--third);
         /* Change this line */
         opacity: 0.2;
         clip-path: circle(0% at 50% 50%);
         -webkit-clip-path: circle(0% at 50% 50%);
         transition: all 0.8s ease-in-out;
         z-index: -1;
       }

       .sign-up-btn:hover::before {
         clip-path: circle(150% at 50% 50%);
         -webkit-clip-path: circle(150% at 50% 50%);
         opacity: 0.9;
       }

       .sign-up-btn:hover {
         border-color: var(--third);
         color: #ffffff;
       }

       .pricing-section {
         background-color: hsl(220, 93%, 94%);
       }

       .ph-card-header {
         color: white !important;
         background-color: var(--secondary) !important;
       }

       .ph-title {
         color: var(--third) !important;
       }

       .pricing-section {
         background-color: #f5f5f5;
       }

       .pricing-title {
         font-family: "Montserrat", sans-serif;
         color: var(--third) !important;
       }

       /* -------------------------------  END OF PRICING  ----------------------------------------------*/
       /*---------------------------------------------------------- WAVES ----------------------------------------------------- */

       .spacer {
         aspect-ratio: 960/200;
         width: 100%;
         background-repeat: no-repeat;
         background-position: center;
         background-size: cover;
       }

       .layer-bg {
         background-image: url('/Assets/waves.svg');
       }

       .cta-section {
         background-color: var(--third);
       }

       /* Add this to your existing CSS or create a new style block */
       .cta-button {
         display: inline-block;
         padding: 10px 20px;
         font-size: 22px;
         text-align: center;
         text-decoration: none;
         border: 2px solid #fff;
         border-radius: 30px;
         transition: background-color 0.3s, color 0.3s;
         position: relative;
         z-index: 1;
         overflow: hidden;
         border-width: 1px;
         color: #ffffff !important;
         background-color: var(--third) !important;
       }

       .cta-button:hover {
         background-color: #fff;
         color: #000 !important;
         border-color: var(--third);
       }

       .cta-button::before {
         content: '';
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         background-color: #ffffff;
         /* Change this line */
         opacity: 0.5;
         clip-path: circle(0% at 50% 50%);
         -webkit-clip-path: circle(0% at 50% 50%);
         transition: all 0.8s ease-in-out;
         z-index: -1;
       }

       .cta-button:hover::before {
         clip-path: circle(150% at 50% 50%);
         -webkit-clip-path: circle(150% at 50% 50%);
         opacity: 1;
       }

       @media (min-width: 769px) and (max-width: 1024px) {}

       @media (max-width: 768px) {}

       @media (min-width: 320px) and (max-width: 568px) {}



       /**------------------------------------------------- FOOTER SECTION -----------------------------------------------------**/

       .footer-bg {
         background-color: #ecf3fa;
       }

       #footer-section p {
         font-family: "Montserrat", sans-serif;
         /* Use Montserrat font family */
         font-size: 1.3rem;
         /* Set font size to 1.3rem */
       }

       #footer-section a {
         font-family: "Montserrat", sans-serif;
         /* Use Montserrat font family */
         font-size: 1.3rem;
         /* Set font size to 1.3rem */
       }

       .social-link:hover {
         background-color: #d3d1d1;
         border-radius: 15%;
       }












       
       /** 
       ad9bf2
       7d79c2
       2b3a67
        .moving-container {
        position: relative;
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5% 0;
      }
      
      .left-div-cont,
      .right-div-cont {
        height: 100%;
        position: absolute;
      }
      
      .third-container {
        margin: 2.5%;
        position: absolute;
      }
      
      .left-div-cont {
        background-color: rgb(162, 250, 222);
        border-radius: 50% 50% 33% 67% / 39% 67% 33% 61%;
        width: 50%;
        left: 10%;
        z-index: 2;
        /*opacity: 0;*/
       /*transform: translateX(-110%);
        transition: opacity 2s ease, transform 5s ease;
      }
      
      .right-div-cont {
        border-radius: 62% 38% 34% 66% / 57% 33% 67% 43%;
        background-color: rgba(183, 147, 247, 0.733);
        right: 10%;
        width: 60%;
        z-index: 1;
        opacity: 0;
        /*transform: translateX(110%);
        transition: opacity 2s ease, transform 5s ease;
      }
      
      .third-container {
        /* background-color: rgba(254, 208, 208, 0.7); 
        background-color: transparent;
        left: 50%;
        width: 70%;
        height: 90%;
        z-index: 3;
        position: absolute;
        /*opacity: 0;*/
       /*transform: translate(-50%, 50%) scale(0);
        transition: opacity 2s ease, transform 5s ease;
      }
      
      .third-container {
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      
      .container .family-img {
        border-radius: 57% 43% 44% 56% / 23% 65% 35% 77%;
      }
      
      /* 
       .container .family-img {
         border-radius: 57% 43% 44% 56% / 23% 65% 35% 77%;
       }
       **/