  /**------------------------------------------------- GENERAL -----------------------------------------------------**/

  :root {
    --primary-color: #2B3A67;
    --secondary-color: #9AAEF2;
    --third: #7ADFBB;
  }

  html, body {
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif !important;
    font-optical-sizing: auto;
  }

  h1 {
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
    color: var(--primary-color);
    margin-bottom: 1.5rem;
  }

  h2 {
    font-weight: 600;
    font-style: normal;
    font-size: 1.7rem;
    color: var(--primary-color);
    margin-bottom: 1.5rem;
  }

  h3 {
    font-weight: 600;
    font-style: normal;
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
  }

  h4 {
    font-weight: 550;
    font-style: normal;
    font-size: 1.5rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
  }

  p {
    font-weight: 500;
    font-style: normal;
    font-size: 1.4rem;
    color: #4e4e4e;
    text-align: justify;
  }

  ul li {
    font-weight: 500;
    font-style: normal;
    font-size: 1.4rem;
    color: #4e4e4e;
    text-align: justify;
  }

  a {
    font-weight: 500;
    font-style: normal;
    font-size: 1.4rem;
    color: var(--secondary-color);
  }

  strong {
    font-weight: 600;
    font-style: normal;
    font-size: 1.4rem;
    color: var(--primary-color);
  }

  li::marker {
    color: var(--secondary-color);
  }

  /**------------------------------------------------- NAV BAR -----------------------------------------------------**/
  /* Add this CSS for spacing to the left of the navbar brand */
  /* Navigation Bar Styling */

.navbar-nav .nav-item .nav-link {
  border-radius: 15px;
  width: 190px;
  text-align: center;
  line-height: 20px;
  padding: 5px;
  font-size: 1.4rem;
  color: var(--primary);
}

.navbar-nav .nav-item:hover .nav-link {
  background-color: var(--third);
  color: #ffffff;
}

.nav-item.dropdown:hover .nav-link::after {
  transform: rotate(180deg);
}

.navbar-brand {
  margin-left: 20px;
  margin-bottom: 10px;
}

.navbar-nav .nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu .dropdown-item {
  font-size: 1.4rem;
  padding: 10px;
  text-decoration: none;
  color: #333;
  transition: background-color 0.3s;
}

.navbar-nav>li>.dropdown-menu a:hover {
  background-color: var(--third);
  color: #ffffff;
}

/* Media Queries */

@media (min-width: 1200px) and (max-width: 1900px) {
  .navbar-brand {
     width: 190px;
     height: 50px;
  }
}

@media (min-width: 370px) and (max-width: 1200px) {
  .navbar-brand {
     width: 120px !important;
     height: 45px;
  }
}

@media (max-width: 950px) {
  .navbar-collapse .nav-item .nav-link,
  .navbar-collapse>.nav-item>li>.dropdown-item {
    font-size: 1em;
     text-align: left;
  }
}

  /* ------------------------------------------------- Title ----------------------------------------------------- */

  .title {
    font-weight: 600;
    font-size: 2rem;
    color: var(--primary-color);
    text-align: center;
  }

  .vindme {
    font-weight: 600;
    font-size: 2rem;
    color: var(--secondary-color);
    text-align: center;
  }

  /* ------------------------------------------------- Translator ----------------------------------------------------- */

  .translate-ltr {
    margin-top: -40px;
  }

  .goog-te-banner-frame {
    display: none;
    margin-top: 20px;
  }

  .goog-logo-link {
    display: none !important;
  }

  .goog-te-gadget {
    color: transparent !important;
    font-size: 0px !important;
  }

  .VIpgJd-ZVi9od-l4eHX-hSRGPd {
    color: transparent !important;
    font-size: 0px !important;
  }

  .goog-te-combo {
    color: var(--primary-color) !important;
    padding: 10px;
    font-size: 1.5em;
    font-weight: 700;
    box-shadow: inset;
    border: 0.1em solid var(--primary-color);
    border-radius: 5%;
  }

  img {
    display: none;
  }

  #google_element {
    margin-right: 40px;
  }

  /* ------------------------------------------------- Footer ----------------------------------------------------- */

  .footer-bg {
    background-color: #ecf3fa;
  }

  #footer-section p {
    font-size: 1.3rem;
  }

  #footer-section a {
    font-size: 1.3rem;
  }

  .social-link:hover {
    background-color: #9AAEF2;
    border-radius: 50%;
  }

  .foot-btn:hover {
    color: #9AAEF2 !important;
    text-decoration: underline;
  }

  .logo-v {
    transition: all 1s;
  }

  .logo-v:hover {
    transform: scale(1.1);
  }